name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:
  workflow_call:
    outputs:
      vma-managed-nupkg-artifact:
        value: ${{ jobs.build-managed-vma.outputs.vma-managed-nupkg-artifact }}
      D3D12MA-managed-nupkg-artifact:
        value: ${{ jobs.build-managed-d3d12ma.outputs.D3D12MA-managed-nupkg-artifact }}
      linux-x64-vma-native-artifact:
        value: ${{ jobs.build-linux-x64.outputs.vma-native-artifact }}
      linux-arm64-vma-native-artifact:
        value: ${{ jobs.build-linux-arm64.outputs.vma-native-artifact }}
      win-x64-vma-native-artifact:
        value: ${{ jobs.build-win-x64.outputs.vma-native-artifact }}
      win-arm64-vma-native-artifact:
        value: ${{ jobs.build-win-arm64.outputs.vma-native-artifact }}
      win-x64-D3D12MA-native-artifact:
        value: ${{ jobs.build-win-x64.outputs.D3D12MA-native-artifact }}
      win-arm64-D3D12MA-native-artifact:
        value: ${{ jobs.build-win-arm64.outputs.D3D12MA-native-artifact }}
      macos-arm64-vma-native-artifact:
        value: ${{ jobs.build-macos-arm64.outputs.vma-native-artifact }}
      pack-all-artifact:
        value: ${{ jobs.pack-all.outputs.pack-all-artifact }}

jobs:
  build-managed-vma:
    uses: ./.github/workflows/build-managed-vma.yml
  build-managed-d3d12ma:
    uses: ./.github/workflows/build-managed-d3d12ma.yml
  build-win-x64:
    uses: ./.github/workflows/build-win-x64.yml
  build-win-arm64:
    uses: ./.github/workflows/build-win-arm64.yml
  build-linux-x64:
    uses: ./.github/workflows/build-linux-x64.yml
  build-linux-arm64:
    uses: ./.github/workflows/build-linux-arm64.yml
  build-macos-arm64:
    uses: ./.github/workflows/build-macos-arm64.yml
  pack-all:
    needs:
      - build-managed-vma
      - build-managed-d3d12ma
      - build-win-arm64
      - build-win-x64
      - build-linux-arm64
      - build-linux-x64
      - build-macos-arm64
    runs-on: ubuntu-latest
    outputs:
      pack-all-artifact: ${{ steps.pack-all.outputs.artifact-id }}
    steps:
      - uses: actions/download-artifact@v7
        with:
          merge-multiple: true
          path: ./artifacts
      - id: pack-all
        uses: actions/upload-artifact@v6
        with:
          path: ./artifacts/*
          name: pack-all
          overwrite: true
