name: Build Managed D3D12MA

on:
  workflow_dispatch:
  workflow_call:
    outputs:
      D3D12MA-managed-nupkg-artifact:
        value: ${{ jobs.build.outputs.D3D12MA-managed-nupkg-artifact }}

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      D3D12MA-managed-nupkg-artifact: ${{ steps.D3D12MA-managed.outputs.artifact-id }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Dotnet Restore
        run: dotnet restore
      - name: Build
        run: dotnet build ./GpuMemoryAllocator.D3d12/GpuMemoryAllocator.D3d12.csproj -c Release
      - id: D3D12MA-managed
        uses: actions/upload-artifact@v4
        with:
          name: 'D3D12MA-managed'
          path: ./GpuMemoryAllocator.D3d12/bin/Release/*.nupkg
          overwrite: true
      - name: Pack D3D12MA
        shell: pwsh
        run: ./Native/buid_d3d12ma-meta.ps1
      - id: D3D12MA-meta
        uses: actions/upload-artifact@v4
        with:
          name: 'D3D12MA-meta'
          path: ./Native/packages/GpuMemoryAllocator.D3D12MA.*.nupkg
          overwrite: true
