name: Build Linux Arm64

on:
  workflow_dispatch:
  workflow_call:
    outputs:
      vma-native-artifact:
        value: ${{ jobs.build.outputs.vma-native-artifact }}

jobs:
  build:
    runs-on: ubuntu-24.04-arm
    outputs:
      vma-native-artifact: ${{ steps.vma-native.outputs.artifact-id }}

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Dotnet Restore
        run: dotnet restore
      - name: Init
        shell: bash
        run: ./init.sh
      - name: Build
        shell: bash
        run: ./build_native.sh
      - name: Pack VMA
        shell: pwsh
        run: ./Native/buid_vma-linux-arm64.ps1
      - id: vma-native
        uses: actions/upload-artifact@v4
        with:
          name: 'vma-linux-arm64'
          path: ./Native/packages/GpuMemoryAllocator.vma.*.nupkg
          overwrite: true
